// Filler Colors
$dark: #333;
$medium-dark: #666;
$medium: #ddd;
$lighter: #ffe;
$light: #eee;

// Attention Seeking Colors
$primary: #aaffaa;
$secondary: #aaaaff;
$neon: #66ff66;

@mixin theme($backgroundColor: $lighter, $textColor: #000) {
  background-color: $backgroundColor;
  color: $textColor;
}
